In [1]:
import pandas as pd
import numpy as np
import json
from pandas.io.json import json_normalize

In [23]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

## Read the html file using pandas

In [24]:
postal_codes = pd.read_html(url)[0] #[0]selects the first item within the html

In [11]:
postal_codes.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned                        NaN
1         M2A      Not assigned                        NaN
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

## Selecting cells with an unassigned borough

In [12]:
values = postal_codes[postal_codes['Borough'] == 'Not assigned']

## Locating the indeces of the unassigned boroughs

In [13]:
values.index

Int64Index([  0,   1,   7,  10,  15,  16,  19,  24,  25,  28,  29,  33,  34,
             35,  37,  38,  42,  43,  44,  51,  52,  53,  60,  61,  62,  69,
             70,  71,  78,  79,  87,  88,  96,  97, 101, 105, 106, 110, 115,
            118, 119, 123, 124, 125, 127, 128, 131, 132, 133, 134, 136, 137,
            140, 141, 145, 146, 149, 150, 154, 155, 158, 159, 161, 162, 163,
            164, 166, 167, 170, 171, 172, 173, 174, 175, 176, 177, 179],
           dtype='int64')

## Droping all the rows with that have an unassigned borough

In [14]:
postal_codes.drop(values.index, axis=0, inplace=True,)

In [15]:
postal_codes.reset_index(drop=True,inplace=True)

In [22]:
postal_codes.head()

  Postal Code           Borough                                 Neighborhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [21]:
postal_codes.shape

(103, 3)